html, body, .fill {
  height: 100%;
  width: 100%;
}

.searchPanel {
  position: fixed;
  top: 60px;
  left: 10px;
  z-index: 1;
}

.floatingPanel {
  position: fixed;
  top: 100px;
  right: 10px;
  padding: 0 15px;
  background-color: white;
  opacity: 0.9;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* TBD: add css transitions 
   * It only work if the element future size is known in advance, not in auto
   * (there's a workaround)
   */
  /* 	transition:width 2s, height 2s, background-color 2s, transform 2s; */
}

.panelPlace {
  padding: 15px;
}

#leaflet-map {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.indent {
  margin-left: 10px;
}

.glyphicon {
  margin-right: 6px;
}

.header {
  padding: 10px 0;
  padding-bottom: 0px;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .4;
  z-index: 1;
}

.invite-row .invite {
  margin: 10px 10px 10px 0;
}

.sharedPanel {
  margin-bottom: 0px;
}

.sharedPanel .usersList {
  margin-bottom: 5px;
}

input.chosen {
  font-weight: bold;
}

.attribution {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 3px;
  padding-bottom: 0;
}

.movePlaceOnMap {
  margin: 0;
}

.pull-right {
  margin-right: 20px;
}

.verticalMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tagsLabel {
  padding-right: 5px;
}

.bootstrap-tagsinput {
  margin-bottom: 0;
  width: 100%;
}

.placeResourceRemove {
  margin-right: 5px;
}

.searchPanel  > .bootstrap-tagsinput {
  width: 250px;
}

.marginTop {
  margin-top: 5px !important;
}

.bottomBorder {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

h4.inline {
  display: inline !important;
}

#resourceSelect {
  margin: 7px 0;
}

#resourceDesc, #resourceTags {
  max-width: 250px;
}

button.close {
  margin-left: 20px;
}

a.btn-link {
  padding: 6px 0;
}
