html, body, .fill {
  height: 100%;
  width: 100%;
}

.mainPanel {
  pointer-events: none;
}

.floatingPanel {
  position: fixed;
  z-index: 1;
  top: 62px;
  left: 10px;
  display: inline-block;
  padding: 10px;
  background-color: white;
  opacity: 0.9;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* TBD: add css transitions 
   * It only work if the element future size is known in advance, not in auto
   * (there's a workaround)
   */
  /* 	transition:width 2s, height 2s, background-color 2s, transform 2s; */
}

.menuButton {
  pointer-events: auto;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.panelPlace {
  padding: 15px;
}

#leaflet-map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

body {
  padding: 0;
  margin: 0;
}

.indent {
  margin-left: 10px;
}

.glyphicon {
  margin-right: 6px;
}

.header {
  padding: 10px 0;
  padding-bottom: 0px;
}

.invite-row .invite {
  margin: 10px 10px 10px 0;
}

.sharedPanel {
  margin-bottom: 0px;
}

.sharedPanel .usersList {
  margin-bottom: 5px;
}

input.chosen {
  font-weight: bold;
}

.attribution {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 3px;
  padding-bottom: 0;
}

.pull-right {
  margin-right: 20px;
}

.verticalMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tagsLabel {
  padding-right: 5px;
}

.bootstrap-tagsinput {
  margin-bottom: 0;
  width: 100%;
}

.placeResourceRemove {
  margin-right: 5px;
}

.panelSearch  > .bootstrap-tagsinput {
  width: 200px;
}

.marginTop {
  margin-top: 5px !important;
}

.bottomBorder {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

h4.inline {
  display: inline !important;
}

#resourceSelect {
  margin: 7px 0;
}

button.close {
  margin-left: 10px;
  padding: 5px;
}

a.btn-link {
  padding: 6px 0;
}

hr.tight {
  margin-top: 10px;
  margin-bottom: 10px;
}

table.resultsListTable {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  cursor: hand;
}

.selectedTableRow {
  background-color: #cfc;
  /* opacity: .5; */
}

.resultsListContainer {
  overflow: auto;
  height: auto;
  max-height: 75%;
}
