html, body {
  height: 100%;
  width: 100%;
}

#placesMapBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media all and (max-width: 640px) {
  #placesMapBox {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media all and (min-width: 640px) and (max-width: 1280px) {
  #mainPanel {
    width: 320px;
  }
}
@media all and (min-width: 1280px) {
  #mainPanel {
    width: 426.66667px;
  }
}
#rootbox {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#rootbox div.nbox {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

#mainPanel {
  padding: 10px;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}

#panelSearch {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: stretch;
}

#panelPlace {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#leaflet-map {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: black;
}

#navcol {
  margin-right: 20px;
}

.centerBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.indent {
  margin-left: 10px;
}

.glyphicon {
  margin-right: 6px;
}

.header {
  padding: 10px 0;
  padding-bottom: 0px;
}

.invite-row .invite {
  margin: 10px 10px 10px 0;
}

.sharedPanel {
  margin-bottom: 0px;
}

.sharedPanel .usersList {
  margin-bottom: 5px;
}

input.chosen {
  font-weight: bold;
}

.verticalMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tagsLabel {
  padding-right: 5px;
}

.bootstrap-tagsinput {
  margin-bottom: 0;
}

.placeResourceRemove {
  margin-right: 5px;
}

.marginTop {
  margin-top: 5px !important;
}

.bottomBorder {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

h4.inline {
  display: inline !important;
}

#resourceSelect {
  margin: 7px 0;
}

button.close {
  margin-left: 10px;
  padding: 5px;
}

a.btn-link {
  padding: 6px 0;
}

hr.tight {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectedRLEntry {
  background-color: #dfb;
}

.rListContainer {
  height: auto;
  max-height: 75%;
  overflow: hidden;
}

.rListEntry {
  padding: 5px;
  cursor: pointer;
}

button.panelBack {
  margin-right: 4px;
}

.bootstrap-tagsinput {
  width: 100%;
  margin: 5px 0px;
}

.horizbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
}

.panelBegin {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.panelBegin button {
  margin: 3px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
