@import 'flex';

html, body {
  height: 100%;
  width: 100%;
}
#placesMapBox {
  // flex container
  @include flexbox();
  align-items: stretch;

  // flex item
  @include flex-grow(1);
}
$widthSmallDisp: 640px;
$widthLargeDisp: 1280px;
@media all and (max-width: $widthSmallDisp) {
  #placesMapBox {
    @include flex-direction(column);
  }
  #mainPanel {
    // TBD: assign fixed height?
    // height: $widthSmallDisp/2;
  }
}
@media all and (min-width: $widthSmallDisp) and (max-width: $widthLargeDisp) {
  #mainPanel {
    width: $widthSmallDisp/2;
  }
}
@media all and (min-width: $widthLargeDisp) {
  #mainPanel {
    width: $widthLargeDisp/3;
  }
}
#rootbox {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
}
#rootbox div.nbox {
  // flex item
  @include flex-grow(1);
  position: relative;
}
#mainPanel {
  padding: 10px;
  background-color: white;
  @include flexbox();
  justify-content: center;
  align-content: stretch;
}
#panelSearch {
  @include flex-grow(1);
  @include flexbox();
  @include flex-direction(column);
  align-items: stretch;
}
#panelPlace {
  @include flex-grow(1);
}
#leaflet-map {
  @include flex-grow(1);
  background: black;
}
#navcol {
  margin-right: 20px;
}
.centerBox {
  @include flexbox();
  justify-content: center;
  align-items: center;
  @include flex-grow(1);
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.indent {
  margin-left: 10px;
}
.glyphicon {
  margin-right: 6px;
}
.header {
  padding: 10px 0;
  padding-bottom: 0px;
}
.invite-row .invite {
  margin: 10px 10px 10px 0;
}
.sharedPanel {
  margin-bottom: 0px;
}
.sharedPanel .usersList {
  margin-bottom: 5px;
}
input.chosen {
  font-weight: bold;
}
.verticalMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tagsLabel {
  padding-right: 5px;
}
.bootstrap-tagsinput {
  margin-bottom: 0;
}
.placeResourceRemove {
  margin-right: 5px;
}
.marginTop {
  margin-top: 5px !important;
}
.bottomBorder {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
h4.inline {
  display: inline !important;
}
#resourceSelect {
  margin: 7px 0;
}
button.close {
  margin-left: 10px;
  padding: 5px;
}
a.btn-link {
  padding: 6px 0;
}
hr.tight {
  margin-top: 10px;
  margin-bottom: 10px;
}
.selectedRLEntry {
  background-color: #dfb;
}
.rListContainer {
  height: auto;
  max-height: 75%;
  // disable scrollbars
  overflow:hidden
}
.rListEntry {
  padding: 5px;
  cursor: pointer;
}
button.panelBack {
  margin-right: 4px;
}
.bootstrap-tagsinput {
  width: 100%;
  margin: 5px 0px;
}
.horizbox {
  @include flexbox();
  align-items: stretch;
}
.panelBegin {
  @include flex-wrap(wrap);
}
.panelBegin button {
  margin: 3px;
  @include flex-grow(1);
}
